.hits {
  padding: 30px 0 20px;
  flex-wrap: wrap;

  &__item {
    width: calc(100% / 12 * 3);
  }
}

@media (max-width: 1000px) {
  .hits__item {
    width: calc(100% / 12 * 6);
  }
}

@media (max-width: 600px) {
  .hits__item {
    width: calc(100%);
  }
}
