.map {
  min-height: 430px;
  margin: 0 -25px;
  padding: 0 25px;
  background-image: url('~@/assets/img/map.jpg');
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &__info {
    background-color: $white;
    padding: 30px 23px;
    max-width: 305px;
    border-radius: 15px;

    &-address {

      &__title {
        margin-top: 4px;
        margin-bottom: 10px;
      }
    }

    &-phone {

      &__title {
        margin: 5px 0;
      }
    }

    &-btn {
      margin-top: 15px;
      width: 100%;
      padding: 10px 0;
    }

  }

  .small {
    font-size: 14px;
    line-height: 20px;
  }

  .big {
    font-size: 18px;
    font-weight: 700;
  }
}

@media (max-width: 800px) {
  .map {
    background-position: -100px center;
  }
}

@media (max-width: 650px) {
  .map {
    margin: 0 -15px;
    padding: 0 15px;
    background-position: -200px center;
  }
}

@media (max-width: 520px) {
  .map {
    background-position: -200px center;
  }

  .map__info {
    padding: 20px 15px;
    max-width: 250px;
  }

  .map .small {
    font-size: 12px;
  }

  .map .big {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
  }

  .map__info-address__title {
    margin: 5px 0;
  }

  .map__info-btn {
    font-size: 13px;
  }

}

@media (max-width: 450px) {
  .map {
    min-height: 480px;
    background-position: -100px -120px;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: flex-end;
  }
}
