.sales {
  margin-top: -30px;
  position: relative;
  justify-content: space-between;

  &__item {
    color: $white;
    border-radius: 18px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 17px 20px 23px;
    display: flex;
    width: 49%;
    flex-direction: column;

    &.raspberry {
      background-image: url('~@/assets/img/sales-item-bg-1.jpg');
    }

    &.chocolate {
      background-image: url('~@/assets/img/sales-item-bg-2.jpg');
    }

    &-title {
      font-size: 35px;
      line-height: 41px;
      font-weight: 700;
    }

    &-text {
      margin: 10px 0 35px;
      font-size: 17px;
    }

    &-btn {
      margin-left: auto;
      margin-top: auto;
    }
  }
}

@media (max-width: 820px) {
  .sales {
    flex-direction: column;
    align-items: center;

    &__item {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  .sales__item-title {
    font-size: 30px;
    line-height: 41px;
    font-weight: 700;
  }

  .sales__item-text {
    margin: 5px 0 15px;
    font-size: 15px;
  }
}

@media (max-width: 450px) {
  .sales {
    margin-top: 0;
  }

  .sales__item {
    padding: 15px;
  }

  .sales__item-title {
    font-size: 24px;
    line-height: 32px;
  }

  .sales__item-text {
    font-size: 13px;
    line-height: 1.5;
  }

  .sales__item-btn {
    font-size: 14px;
  }
}
