.sort {
  font-weight: 500;
  margin-bottom: 32px;

  &__row {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__head {
    justify-content: flex-end;
    display: none;
  }

  &__head-cancel {
    width: 20px;
    height: 20px;
    outline: none;

    svg {
      fill: $white;
      width: 100%;
      height: 100%;
    }
  }

  &__col {

    &:not(:last-child) {
      margin-right: 13px;
    }

    &-title {
      font-size: 14px;
      font-weight: 500;
      padding-left: 16px;
      margin-bottom: 5px;
    }

    &-box {
      min-height: 40px;
      background-color: rgba($white, .2);
      border-radius: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 15px;
    }

    &.button {
      display: flex;
      align-items: flex-end;
    }

    &-button {
      min-height: 40px;
      padding: 0 20px;
      background-color: rgba($white, .2);
      border: 3px solid $white;
      border-radius: 35px;
      transition: background-color .2s;
      font-size: 16px;
      outline: none;

      &:focus,
      &:hover {
        background-color: $white;
        color: $light-black;
      }

      &:active {
        background-color: #EDEDED;
        border: 3px solid #EDEDED;
      }

    }

  }

  .type {
    padding: 0;
    min-height: auto;
    position: relative;

    &__button {
      position: relative;
      width: 100%;
      height: 40px;
      padding: 0 45px 0 15px;
      border-radius: 35px;
      transition: background-color .2s;
      outline: none;

      &:after {
        content: '';
        position: absolute;
        width: 11px;
        height: 10px;
        top: 15px;
        right: 15px;
        background-image: url('~@/assets/img/triangle-down.svg');
        background-repeat: no-repeat;
        transition: transform .2s;
      }

      &.active::after {
        transform: rotate(-180deg);
      }

      &:hover,
      &:focus {
        background-color: rgba($white, .1);
      }

      &:active {
        background-color: rgba($white, .2);
      }
    }

    &__list {
      position: absolute;
      top: calc(100% + 10px);
      border-radius: 3px;
      opacity: 0;
      visibility: hidden;
      transition: opacity .2s;
      overflow: hidden;

      &.active {
        opacity: 1;
        visibility: visible;
      }
    }

    &__item,
    &__link {
      width: 100%;
    }

    &__link {
      padding: 10px 30px;
      background-color: white;
      color: $light-black;

      &:hover,
      &:focus {
        background-color: #dae7dc;
      }
    }
  }

  .sort__col-box--slider {
    width: 210px;
  }

  .vue-slider {
    width: 100% !important;
  }

  .custom-dot {
    width: 20px;
    height: 20px;
    background-color: $white;
    position: absolute;
    top: 50%;
    border-radius: 50%;
    transform: translateY(-50%);

    &:after {
      content: '';
      position: absolute;
      width: 4px;
      height: 4px;
      background-color: #ABABAB;
      border-radius: 50%;
      top: 50%;
      left: 0;
      right: 0;
      margin: 0 auto;
      transform: translateY(-50%);
    }
  }

  .toggle {

    &__list {
      align-items: center;
    }

    &__item:not(:last-child) {
      margin-right: 22px;
    }

    &__label {
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    &__real {
      width: 1px;
      height: 1px;
      position: absolute;
      opacity: 0;
      appearance: none;
    }

    &__real[type=checkbox]:checked + .toggle__fake {
      background-image: url('~@/assets/img/checkbox-on.svg');
    }

    &__real[type=checkbox] + .toggle__fake {
      display: block;
      width: 26px;
      height: 23px;
      background-image: url('~@/assets/img/checkbox-off.svg');
      background-repeat: no-repeat;
      margin-right: 10px;
    }

    &__real[type=radio]:checked + .toggle__fake {
      background-image: url('~@/assets/img/radio-on.svg');
    }

    &__real[type=radio] + .toggle__fake {
      position: relative;
      display: block;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      margin-right: 10px;
      background-image: url('~@/assets/img/radio-off.svg');
    }


  }

}

@media (max-width: 960px) {
  .sort {
    position: fixed;
    z-index: 200;
    background-color: #849D8F;
    padding: 20px;
    width: 100%;
    max-width: 360px;
    top: 0;
    left: 0;
    bottom: 0;
    min-height: 100vh;
    transform: translateX(-100%);
    transition: transform .3s;
    overflow-y: scroll;

    &.active {
      transform: translateX(0);
    }

    &__wrapper {
      position: relative;
      overflow-y: scroll;
    }

    &__row {
      flex-direction: column;
      align-items: flex-start;

      &:not(:last-child) {
        margin-bottom: 0;
      }
    }

    .toggle__list {
      flex-direction: column;
      align-items: flex-start;
    }

    .toggle__item:not(:last-child) {
      margin-right: 0;
    }

    .toggle {
      border-radius: 8px;
      padding: 15px;
      margin-bottom: 0;
    }

    &__col {
      margin-bottom: 20px;
    }

    &__col.button {
      margin-bottom: 0;
    }

    .toggle__item:not(:last-child) {
      margin-bottom: 15px;
    }

  }
}

@media (max-width: 500px) {
  .sort {
    max-width: 100%;
    padding-bottom: 40px;

    &__head {
      display: flex;
    }

  }

}
