.footer {
  margin-top: auto;
  padding: 30px 0;
  color: $white;
  border-top: 1px solid rgba($white, .3);

  &__links-row:not(:last-child) {
    margin-bottom: 5px;
  }

  &__links-col {
    width: 165px;
  }

  &__link {
    position: relative;
    font-size: 13px;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: rgba($white, .3);
    }

    &.like {
      font-weight: 700;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: -20px;
        width: 15px;
        height: 13px;
        transform: translateY(-50%);
        background-image: url('~@/assets/img/heart.svg');
      }
    }
  }
}

.social {

  &__item:not(:last-child) {
    margin-right: 8px;
  }

  &__link {
    border-radius: 50%;

    svg {
      width: 32px;
      height: 32px;
      fill: rgba($white, .7);
      transition: fill .2s;

      &:hover {
        fill: $white;
      }
    }

  }

}
