.footer {
  padding: 30px 0;
}

.social {

  &__item:not(:last-child) {
    margin-right: 8px;
  }

  &__link {
    border-radius: 50%;

    svg {
      width: 32px;
      height: 32px;
      fill: rgba($white, .8);
      transition: fill .2s;

      &:hover {
        fill: rgba($white, 1);
      }
    }

  }

}
