.header {
  color: $white;
  font-weight: 700;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 10px 25px 0;

  &__logo {
    margin-right: 10px;
  }

  &__buttons > *:not(:last-child) {
    margin-right: 10px;
  }

  &__button {
    background-color: rgba($white, .3);
    padding: 8px 16px;
    border-radius: 20px;
    outline: none;
    transition: background-color .2s, color .2s;

    &-wrapper {
      position: relative;
    }

    &.search {
      padding: 8px 10px;
      border-radius: 50%;
    }

    &.cart.disabled {
      pointer-events: none;
    }

    &-text {
      margin-left: 8px;
    }

    svg {
      fill: $white;
      transition: fill .2s;
    }

    &:hover,
    &:focus,
    &.active {
      background-color: rgba($white, 1);
      color: $light-black;

      svg {
        fill: $light-black;
      }
    }
  }



  .search-form {
    width: 340px;
  }

  .cart-popup {
    width: 540px;
    color: $light-black;

    &__list {
      padding-bottom: 25px;
      border-bottom: 1px solid #CACAC7;
    }

    &__item {
      font-size: 13px;
      font-weight: 400;

      &:not(:last-child) {
        margin-bottom: 20px;
      }

      &-del {
        margin-right: 10px;
      }

      &-img {
        width: 33px;
        height: 33px;
        border-radius: 50%;
        margin-right: 14px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &-title {
        width: 220px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 30px;
      }

      &-consider {
        margin-right: 25px;

        span {
          color: #757575;
        }
      }
    }

    &__footer {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      &-total {
        font-weight: 700;
        padding: 13px 0;
        font-size: 15px;
      }
    }

    &__button {
      padding: 12px 15px;
      font-size: 18px;
    }

  }

  &__bottom {
    justify-content: flex-end;
  }

  &__info {
    flex-direction: column;
    align-items: flex-end;
  }

  &__date {
    font-size: 14px;
    line-height: 16px;
  }

  &__phone {
    font-size: 22px;
    line-height: 24px;
  }

  &__burger {
    width: 40px;
    height: 36px;
    display: none;
    background-color: $white;
    position: relative;
    border-radius: 4px;

    span {
      display: block;
      position: absolute;
      width: 50%;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
      height: 3px;
      background-color: $light-black;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      right: 5px;
      height: 3px;
      background-color: $light-black;
    }

    &:before {
      width: 70%;
      top: 10px;
    }

    &:after {
      width: 70%;
      bottom: 10px;
    }

  }

}

.search-form,
.login-form,
.cart-popup {
  position: absolute;
  top: calc(100% + 5px);
  right: 0;
  background-color: #F8F7F4;
  padding: 20px 15px;
  border-radius: 4px;
  z-index: 160;
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s;

  &__field {
    position: relative;
    width: 100%;
    border: 1px solid #D3D3D2;
    height: 44px;
    padding: 0 15px;
    outline: none;
    color: $light-black;
    font-size: 14px;
    border-radius: 4px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &::placeholder {
      font-size: 14px;
    }
  }

  &.active {
    opacity: 1;
    visibility: visible;
  }

}

.login-form {
  width: 280px;

  &__button {
    margin-right: 20px;
    flex-grow: 1;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__action {
    color: $light-black;
    font-size: 13px;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 4px;
    }

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      left: 0;
      bottom: 0;
      background-color: #ACABA9;
    }
  }
}

.menu {

  &__item {

    &:not(:last-child) {
      margin-right: 14px;
    }
  }

  &__link {
    border-radius: 25px;
    padding: 8px 10px;
    outline: none;

    &:active,
    &:focus {
      background-color: $btn-bg;
      color: $light-black;
    }

    &.active {
      background-color: $orange;
      color: $white;
    }

  }

}

.mobile-menu {
  display: none;
  text-align: center;
  color: $white;
  position: fixed;
  z-index: 230;
  max-width: 400px;
  width: 100%;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #849D8F;
  padding: 40px;
  transform: translateX(100%);
  transition: transform .3s;
  flex-direction: column;
  justify-content: center;

  &.active {
    transform: translateX(0);
  }

  &__head {
    display: none;
    justify-content: flex-end;

    &-button {
      width: 30px;
      height: 30px;
      outline: none;

      svg {
        width: 100%;
        height: 100%;
        fill: $white;
      }

    }

  }

  &__list {

    &-link {
      width: 100%;
      padding: 20px 0;
      font-weight: 700;
      font-size: 20px;
    }

  }

  &__form {
    display: none;
    margin-top: 20px;

    &-btn {
      width: 40px;
      height: 45px;
      background-color: #5e6f68;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;

      svg {
        width: 18px;
        height: 18px;
        fill: $white;
      }
    }
  }

  &__search {
    flex-grow: 1;
    height: 45px;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 0 20px;
  }

  &__login {
    display: none;
    margin-top: 20px;
    height: 45px;
    align-self: center;
    padding: 0 25px;
  }

  &__info {
    margin-top: 20px;
    align-items: center;
  }

  &__login-form {
    display: none;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
  }

}

@media (max-width: 960px) {
  .menu__list {
    display: none;
  }

  .header__bottom {
    display: none;
  }

  .header__burger {
    display: block;
  }

  .mobile-menu {
    display: flex;
  }
}

@media (max-width: 750px) {
  .header__button-wrapper.search,
  .header__button-wrapper.login {
    display: none;
  }

  .mobile-menu__form {
    display: flex;
  }

  .mobile-menu__login-form {
    display: flex;
  }

  .mobile-menu__login {
    display: flex;
  }

 }

@media (max-width: 680px) {
  .header__logo img {
    max-width: 80%;
  }

  .header__button-wrapper.cart {
    position: static;
  }

  .cart-popup__wrapper {
    overflow-y: hidden;
    height: 475px;
    position: relative;
  }

  .header .cart-popup {
    top: 75px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 540px;
  }

  .cart-popup__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    overflow-y: auto;
  }

  .cart-popup__item {
    flex-direction: column;
    max-width: 350px;
    text-align: center;
  }

  .header .cart-popup__item-del {
    margin-right: 0;
    align-self: flex-end;
    width: 20px;
    height: 20px;
    img {
      width: 100%;
    }
  }

  .header .cart-popup__item-img {
    width: 90px;
    height: 90px;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .header .cart-popup__item-title {
    width: 100%;
    white-space: normal;
    overflow: visible;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .header .cart-popup__item-consider {
    margin-right: 0;
    margin-bottom: 10px;
  }

}

@media (max-width: 450px) {
  .header__button-text {
    display: none;
  }
}
