.header {
  padding-top: 10px;
  color: $white;
  font-weight: 700;

  &__logo {
    margin-right: 10px;
  }

}

.menu {

  &__item {

    &:not(:last-child) {
      margin-right: 14px;
    }

    &.active .menu__link {
      background-color: $orange;

      &:active,
      &:focus {
        background-color: $btn-bg;
        color: $light-black;
      }

    }

  }

  &__link {
    border-radius: 25px;
    padding: 6px 10px;
    outline: none;

    &:active,
    &:focus {
      background-color: $btn-bg;
      color: $light-black;
    }

  }

}
