.header {
  padding-top: 10px;
  color: $white;
  font-weight: 700;

  &__logo {
    margin-right: 10px;
  }

  &__button {
    background-color: rgba($white, .3);
    padding: 8px 16px;
    border-radius: 20px;
    outline: none;
    transition: background-color .2s, color .2s;

    &.search {
      padding: 8px 10px;
      border-radius: 50%;
    }

    &-text {
      margin-left: 8px;
    }

    &:not(:last-child) {
      margin-right: 10px;
    }

    svg {
      fill: $white;
      transition: fill .2s;
    }

    &:hover,
    &:focus {
      background-color: rgba($white, 1);
      color: $light-black;

      svg {
        fill: $light-black;
      }
    }
  }
}

.menu {

  &__item {

    &:not(:last-child) {
      margin-right: 14px;
    }

    &.active .menu__link {
      background-color: $orange;

      &:active,
      &:focus {
        background-color: $btn-bg;
        color: $light-black;
      }

    }

  }

  &__link {
    border-radius: 25px;
    padding: 8px 10px;
    outline: none;

    &:active,
    &:focus {
      background-color: $btn-bg;
      color: $light-black;
    }

  }

}
