.catalog {
  padding-top: 100px;
  color: $white;

  &__title {
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
    margin-bottom: 25px;
  }
}

@media (max-width: 500px) {
  .catalog__title {
    font-size: 30px;
  }
}
