html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  min-width: 320px;
  overflow-x: hidden;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $light-black;
  background-color: $mantle;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-family: inherit;
  color: inherit;
  text-transform: inherit;
  font-weight: inherit;
}

.flex {
  display: flex;
}

.between {
  justify-content: space-between;
}

.align {
  align-items: center;
}

.container {
  max-width: 1200px;
  padding: 0 25px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.def-btn {
  background: linear-gradient(0deg, rgba(231,74,53,1) 0%, rgba(242,104,67,1) 100%);
  font-weight: 700;
  color: $white;
  padding: 8px 16px;
  border-radius: 18px;
  box-shadow: 0 2px 2px #AC1000;
  outline: none;

  &:hover,
  &:focus {
    background: linear-gradient(0deg, rgba(231,74,53,1) 0%, rgb(241, 120, 85) 100%);
  }

  &:active {
    background: linear-gradient(0deg, rgba(242,104,67,1) 0%, rgba(231,74,53,1) 100%);
  }
}
